<footer>
  <div class = footer_title_logo-wrapper>
  <div class = footer_title_logo-content>
    <div class = footer_c>©️</div>
    <%= link_to root_path, class: :footer_title_logo do%>
        <h1 class = footer_title_logo-text>"TRAVEL<span>-</span>NOTE"</h1>
      <%end%> 
  </div>
  </div>
</footer>