<% @users.each do |user| %>

    <% if current_user != user %>
        <% if user.followed_by?(current_user) %>
            <%= user.nickname%><p><%=link_to "フォロー解除", user_relationships_path(user.id), method: :delete %></p>
        <% else %>
            <%= user.nickname%><p><%=link_to "フォローする", user_relationships_path(user.id), method: :post %></p>
        <% end %>
    <% end %>
<%end%>