




<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class = new-session-wrapper>
  <div class="container">
    <div class="head">
      <h2>ログイン</h2>
    </div>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mali", class: "new-session-email" %><br />
    <%= f.password_field :password, autocomplete: "current-password",placeholder: "Password", class: "new-session-password" %><br />
    <div class = "log-in-button-wrapper" id="submit" type="submit" >
      <%= f.submit "Log in", class: "new-session-log-in-btn", class: "log-in-button" %>
    </div>
  </div>
</div>
  <%end%>

