.new-edit-wrapper {
  background-color:#4545452f;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width:500px;
  margin:0 auto;
  text-align:center;
  border-radius:6px;
  background-color:#FAFAFA;
}

.head {
  border-radius:6px 6px 0px 0px;
  background-color:#FFA500;
  color:#FAFAFA;
}

h2 {
  text-align:center;
  padding:18px 0 18px 0;
  font-size: 1.4em;
}

input {
  margin-bottom:10px;
}

textarea {
  height:100px;
  margin-bottom:10px;
}


input, textarea {
  font-size: 1em;
  padding: 15px 10px 10px;
  font-family: 'Source Sans Pro',arial,sans-serif;
  border: 1px solid #cecece;
  background: #d7d7d7;
  color: #FAFAFA;
  border-radius: 5px;
  background-clip: padding-box;
  box-sizing: border-box;
  width: 80%;
  max-width: 600px;
}

.input-placeholder {
   color: #FAFAFA;
}

.update-button {
  margin-top:15px;
  margin-bottom:25px;
  border-radius: 5px;
  transition: .5s;
  transition: .5s;
  display: inline-block;
  cursor: pointer;
  width:30%;
  color:#fff;
}

.update-button:hover, .button:hover {
  background: #FFA500;
}



  .update-button {
    width:70%;
  }


.new-session-password{
  margin-top: 20px;
}

.new-session-email{
  margin-top: 20px;
}

.user-prefecture{
  margin-bottom: 10px;
}

.new-edit-avatar{
  background-color: #ffa60033;
}

.new-edit-avatar-wrapper{
  position: relative;
  margin-bottom: 38px;
}

.avater-input-btn{
  position: absolute;
  top: 30%;
  left: 33%;
  background-color: #ffa60054;
  color:#fff;
  padding: 5px;
  font-size: small;
  border-radius: 5px;
  transition: .4s;
}

.avater-input-btn:hover{
  background-color: #67c5ff;
}

.new-edit-avatar{
  display: none;
}

