.new-registration-wrapper {
  background-color:#4545452f;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-registration-nickname{
  height: 50px;
  margin-top: 30px;
}


.container {
  max-width:600px;
  margin:0 auto;
  text-align:center;
  border-radius:6px;
  border-radius:6px;
  border-radius:6px;
  background-color:#FAFAFA;
}

.head {
  border-radius:6px 6px 0px 0px;
  border-radius:6px 6px 0px 0px;
  border-radius:6px 6px 0px 0px;
  background-color:#FFA500;
  color:#FAFAFA;
}

.new-registration-header {
  text-align:center;
  padding:12px 0 12px 0;
  font-size: 1.4em;
  background-color:#FFA500;
  border-radius:6px 6px 0px 0px;
}

input {
  margin-bottom:10px;
}

textarea {
  height:100px;
  margin-bottom:10px;
}


input, textarea {
  font-size: 1em;
  padding: 15px 10px 10px;
  font-family: 'Source Sans Pro',arial,sans-serif;
  border: 1px solid #cecece;
  background: #d7d7d7;
  color:#FAFAFA;
  border-radius: 5px;
  background-clip: padding-box;
  box-sizing: border-box;
  width: 80%;
  max-width: 600px;
}

.input-placeholder {
   color: #FAFAFA;
}



.sign-up-button {
  margin-top:15px;
  margin-bottom:25px;
  border-radius: 5px;
  transition: .5s;
  display: inline-block;
  cursor: pointer;
  width:30%;
  color:#fff;
}

.sign-up-button:hover {
  background: #FFA500;
}



  
  .sign-up-button {
    width:70%;
  }


.user-prefecture{
  height: 30px;
  background-color: #4545452f;
}

.user-prefecture-text-wrapper{
  margin-bottom: 10px;
}
.user-prefecture-text{
  padding: 10px;
  background-color: #4545452f;
  color: #FAFAFA;
}