

.tweet-content{
  list-style: none;
}

.user_name{
  list-style: none;
  font-size: 12px;
}

.name-show{
  display: flex;
}

.show-tweet{
  margin-left: 5px;
  font-size: 12px;
}

.name_btn{
  text-decoration: none;
}

.show_btn{
  text-decoration: none;
}

.show_name_btn{
  text-decoration: none;
}

.delete_btn{
  text-decoration: none;
  font-size: 12px;
  margin-left: 5px;
}

.tweet_show_text{
  display: flex;

}

.comment_form{
  display: block;
}

.comment_user_name{
  font-size: 12px;
  margin-top: 45px;
}