

.tweet-content{
  list-style: none;
}

.user_name{
  list-style: none;
  font-size: 12px;
}

.name-show{
  display: flex;
}

.show-tweet{
  margin-left: 5px;
  font-size: 12px;
}

.name_btn{
  text-decoration: none;
}

.show_btn{
  text-decoration: none;
}

.show_name_btn{
  text-decoration: none;
}

.delete_btn{
  text-decoration: none;
  font-size: 12px;
  margin-left: 5px;
}

.tweet_show_text{
  display: flex;

}

.comment_form{
  display: block;
}

.comment_user_name{
  font-size: 12px;
}
header{
  height: 100px;
}
.form-area{
  text-align: center;
}

.title-text{
  width: 600px;
  margin-bottom: 20px;
  font-size: large;
}

.tweet-text{
  width: 600px;
  height: 400px;
  font-size: large;
}

.tweet-title{
  text-align: center;
}

.tweet-texts{
  margin-bottom: 200px;
}

.comment-text{
  padding: 10px;
  border: 1px solid burlywood;
}

.send-btn{
  transition: .4s;
}

.send-btn:hover {
  background: #FF8C00;
  color: white;
}
