

.users-index-background-wrapper{
  background-color: #eeffff56;
}



.wrapper{
  margin-top: 50px;
}

.user-top-page-header{
  height: 30vh;
  display: flex;
  margin-top: 10px;
}

.tweet-content{
  list-style: none;
}



.root_btn{
  text-decoration: none;
  font-size: 12px;
  margin-bottom: 10px;
}



.profile{
  font-size: 20px;
  list-style: none;
}

.follow{
  margin-left: 10px;
}

.follow？{
  margin: 10px;
  font-size: 10px;
  color: darkgray;
  background-color: #DDFFFF;
  padding: 5px;
}


.users{
  width: 300px;
  
}

.plof{
  list-style: none;
  margin-top: 5px;
  font-size: large;
}

.user-prof{
  color: #364e96;/*文字色*/
  border: solid 3px #364e96;/*線色*/
  padding: 0.5em;/*文字周りの余白*/
  border-radius: 0.5em;/*角丸*/
  width: 800px;
  
}



.user-index-wrapper{
  margin: 0px 100px;
}

li{
  list-style: none;
}

.list-content{
  margin-left: 10px;
}


.info-list{
  font-size: large;
}



.users_tweets{
  margin-left: 200px;
}

.tweet-content-list{
  text-decoration: none;
}


.user-name-info{
  color: #505050;/*文字色*/
  padding: 0.5em;/*文字周りの余白*/
  display: inline-block;/*おまじない*/
  line-height: 1.3;/*行高*/
  background: #dbebf8;/*背景色*/
  vertical-align: middle;
  border-radius: 25px 0px 0px 25px;/*左側の角を丸く*/
  margin-bottom: 5px;
  margin-top: 20px;
}

.user-name-info:before {
  content: '●';
  color: white;
  margin-right: 8px;
}

.user-name{
  text-decoration: none;
  color: #505050;
  font-size: 15px;
}

.user-prof-wrapper{
  display: flex;
}

.user-avatar{
  width: 180px;
  height: 180px;
  margin-right: 20px;
  border-radius: 40px;
}

.no-avatar-image{
  width: 180px;
  height: 180px;
  border-radius: 40px;
}

.user-avatar-image{
  border-radius: 40px;
}





